doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    title Collectio photos
    link(rel="stylesheet" type="text/css" href="./index.css")
  body
    form(action="" enctype="multipart/form-data")
      input#image1.file(type="file" name="image1" accept="image/*" multiple="multiple")
    script(src="./index.ts.js")
