doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    title Collectio photos
    link(rel="stylesheet" type="text/css" href="./index.css")
  body
    div#app
    script(src="./index.ts.js")
