doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    style.
      label {
      display: block;
      width: 250px;
      height: 250px;
      background-size: contain;
      background-repeat: no-repeat;
      }
  body
    form(action="" enctype="multipart/form-data")
      input#image1.file(type="file" name="image1" accept="image/*")
      label(for="image1")
    script(src="./index.ts.js")
